/* Styles pour le corps de la page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

/* Styles pour l'en-tête */
header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Styles pour le contenu de l'en-tête */
.header-content {
    max-width: 600px;
    margin: 0 auto;
    
}


/* Styles pour l'image dans l'en-tête */
header img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Styles pour le titre dans l'en-tête */
header h1 {
    margin-top: 20px;
    font-size: 24px;
}

/* Styles pour la barre de navigation */
nav {
    background-color: #212529;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    margin-right: 20px;
}

nav a {
    display: block;
    color: #adb5bd;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #fff;
}

/* Styles pour la section principale */
main {
    padding: 20px;
}

/* Styles pour chaque article */
article {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Styles pour les images dans les articles */
.article-header img {
    width: 30%;
    float: right;
    margin: 1%;
    height: auto;
    border-radius: 10px;
    flex: 0 0 auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Styles pour le contenu des articles */
.article-content {
    width: 65%;
    padding: 20px;
    margin-left: 5%;
}

/* Styles pour les titres d'article */
article h2 {
    color: #343a40;
    text-align: center;
    font-size: 22px;
}

/* Styles pour le pied de page */

